@model Pizza[]

@{
    ViewData["Title"] = "My pizzas";
    var pizzas = Model;
}

@if (pizzas.Length is 0)
{
    <p>No pizzas to display</p>
}
else
{

    <div class="container">
        <div class="row justify-content-center row-cols-3">
            @foreach (var pizza in pizzas)
            {
                @await Html.PartialAsync("_Card", pizza)
            }
        </div>
        <div class="btn-container d-flex justify-content-center my-5">
            <a class=" btn btn-warning text-white" href="@Url.Action("Create", "Pizza")">Create a pizza</a>
        </div>
    </div>
}

